@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,300;1,400;1,500;1,600;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}
body {
  overflow-y: hidden;
  //   touch-action: none;
  //   -ms-touch-action: none;
  overflow-x: hidden;
}

// components
@mixin display-v-flex-centered-spaced {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@mixin display-centered-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

// modal loaders
.modal-loader {
  background-color: #13172cc4;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 10;
  @include display-centered-center();
  display: none;
}

.modal-btn {
  height: 40px;
  width: 40px;
  background: #151825;
  border-radius: 50%;
  border: 1px solid #1d9af2;
  border-top: 2px solid #fff;
  animation: spinner1 600ms linear infinite;
}

@keyframes spinner1 {
  to {
    transform: rotate(360deg);
  }
}

// mobile design
// PAGES
.switcher {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  @include display-centered-center();
}
.swt-itm {
  position: absolute;
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease;
}

// PAGES
.container-body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.hero-section {
  width: 100%;
  background: linear-gradient(121deg, #ad00ff 0%, #0c0056 100%),
    linear-gradient(121deg, #fa00ff 0%, rgba(0, 255, 71, 0) 100%),
    linear-gradient(127deg, #00f0ff 0%, #a80000 100%),
    radial-gradient(107% 142% at 15% 104%, #f3d0fc 0%, #1700a4 100%),
    radial-gradient(100% 100% at 50% 0%, #7300a9 0%, #00ffe0 100%),
    radial-gradient(100% 100% at 50% 0%, #7300a9 0%, #00ffe0 100%),
    linear-gradient(127deg, #b7d500 0%, #2200aa 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge,
    difference, normal;
  border-radius: 0 0 25px 25px;
}

.hero-closed {
  height: 80vh;
  @include display-v-flex-centered-spaced();
  padding: 20px 30px;
}

.gif-section {
  width: 200px;
  margin: auto;
  height: 50%;
}

.gif-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.texts-terms p {
  font-size: 13px;
  margin-bottom: 30px;
}

.input-capture {
  display: none;
}
.capture-itm {
  border: 1px solid;
  width: 250px;
  @include display-centered-center();
  flex-direction: row;
  justify-content: center;
  position: relative;
  font-size: 13px;
}

.capture-itm i {
  position: absolute;
  left: 8px;
}

.hero-open {
  @include display-centered-center();
  height: 28vh;
  font-size: 30px;
}

// footer
.foot-section {
  height: 60vh;
  font-size: 13px;
}

.footer-open {
  height: 60vh;
  @include display-v-flex-centered-spaced();
}

.footer-closed {
  background-color: #000000;
  height: 10vh;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  bottom: 0px;
}
.footer-closed * {
  text-decoration: none;
  list-style: none;
  color: #1031ea;
}

.steps-section {
  @include display-v-flex-centered-spaced();
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2px 8px;
}

.box {
  width: calc(90% / 2);
  height: 100px;
  border: 1px solid;
}

.link-dashboard {
  width: 300px;
  text-align: center;
  background-color: #1031ea;
}
.nav-foot {
  @include display-v-flex-centered-spaced();
  width: 100%;
  flex-direction: row;
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  font-weight: 800;
  font-size: 16px;
  color: white;
}

//👀👀👀👀 uploading form start👀👀👀👀✔

input,
input:focus,
textarea {
  outline: none;
}
.uploader-body {
  min-height: 100vh;
  position: relative;
  @include display-centered-center();
}

.form-div {
  height: 100vh;
  width: 100%;
  position: relative;
}

.form-el {
  width: 350px;
  margin: 05px auto;
  padding: 15px 10px;
  height: 80vh;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  & input,
  textarea {
    padding: 6px 15px;
  }
  & label {
    margin-bottom: 3px;
  }
}

.label-el,
.addded-labels {
  font-size: 13px;
  font-weight: 700;
}

.multi-input {
  display: flex;
  flex-direction: column;
  padding: 15px 6px;
  justify-content: flex-start;
  position: relative;
  min-height: 50px;
  & .fa-plus {
    position: absolute;
    right: 5px;
    top: 3px;
    cursor: pointer;
  }
  & .newinput {
    width: 150px;
    border-radius: 0px;
    padding: 4px 2px;
    border: none;
    border-bottom: 1px solid green;
  }
  & .remove-el {
    font-size: 13px;
    font-weight: bold;
    margin-top: 5px;
  }
  & select {
    padding: 6px 2px;
    margin-bottom: 4px;
  }
}

.totals_added {
  font-size: 13px;
}

.top-form-indicate {
  width: 100%;
  padding: 0;
  @include display-v-flex-centered-spaced();
  flex-direction: row;
  justify-content: space-between;
}

.active-input {
  background-color: #d9d9d9;
}

.upload-btn {
  padding: 5px 15px;
}

.label-el {
  font-size: 12px;
}

// .dis-added-tabs {
//   pointer-events: none;
// }

// end uploads

// attributes
.hide {
  display: none;
}

.crv {
  border-radius: 15px;
  padding: 3px 5px;
}

.txt-center {
  text-align: center;
}
.indicate-section {
  padding: 5px;
}

// custom button
button {
  font-family: inherit;
  font-size: 13px;
  background: royalblue;
  color: white;
  padding: 0.2em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  overflow: hidden;
  transition: all 0.2s;
}
